<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <system.web>
    <compilation debug="true" />
  </system.web>
  <!-- 部署服务库项目时，必须将配置文件的内容添加到 
  主机的 app.config 文件中。System.Configuration 不支持库的配置文件。-->
  <system.serviceModel>
    <services>
      <service behaviorConfiguration="SinaApiWcfServiceLibrary.Service1Behavior"
        name="SinaApiWcfServiceLibrary.Service1">
        <endpoint address="" binding="wsHttpBinding" contract="SinaApiWcfServiceLibrary.IService1">
          <identity>
            <dns value="localhost" />
          </identity>
        </endpoint>
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost:8731/Design_Time_Addresses/SinaApiWcfServiceLibrary/Service1/" />
          </baseAddresses>
        </host>
      </service>
      <service behaviorConfiguration="SinaApiWcfServiceLibrary.SinaApiServiceBehavior"
        name="SinaApiWcfServiceLibrary.SinaApiService">
        <endpoint address="" binding="wsHttpBinding" contract="SinaApiWcfServiceLibrary.ISinaApiService">
          <identity>
            <dns value="localhost" />
          </identity>
        </endpoint>
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost:8731/Design_Time_Addresses/SinaApiWcfServiceLibrary/SinaApiService/" />
          </baseAddresses>
        </host>
      </service>
    </services>
    <behaviors>
      <serviceBehaviors>
        <behavior name="SinaApiWcfServiceLibrary.Service1Behavior">
          <serviceMetadata httpGetEnabled="true" />
          <serviceDebug includeExceptionDetailInFaults="false" />
        </behavior>
        <behavior name="SinaApiWcfServiceLibrary.SinaApiServiceBehavior">
          <serviceMetadata httpGetEnabled="true" />
          <serviceDebug includeExceptionDetailInFaults="false" />
        </behavior>
      </serviceBehaviors>
    </behaviors>
  </system.serviceModel>
</configuration>
